<mat-card class="mt_card">
    <mat-card-header class="header">
        <div mat-card-avatar class="cntnt_img"></div>
        <mat-card-title class="header_title">Content Forward Admin</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <div>
            <mat-card><button [routerLink]="['index']" mat-button color="primary">User, Role and Rights Management</button></mat-card>
        </div>
        <div>
            <mat-card><button [routerLink]="['workflow']" mat-button color="primary">Workflow Management</button></mat-card>
        </div>
    </mat-card-content>
</mat-card>
<div style="padding-bottom: 20px"><br></div>